[Desktop Entry]
Encoding=UTF-8
Name=Link to Static Shoes by Loyalty Freak Music | Download and Stream on Chosic
Type=Link
URL=https://www.chosic.com/download-audio/24542/
Icon=text-html
